<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartFlow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <div class="d-flex flex-grow-1">
        <partial name="_SideBar" />

        <!-- Main Content Area -->
        <div class="flex-grow-1 d-flex flex-column">
            <!-- Header -->
            <header>
                <nav class="navbar navbar-expand-lg custom-navbar">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SmartFlow</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav ms-auto">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                            <button type="submit" class="btn btn-link nav-link">Wyloguj</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <!-- Main content and body -->
            <div class="container mt-5 flex-grow-1">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - SmartFlow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
