html, body {
    height: 100%;
    margin: 0; 
    overflow-x: hidden; 
}

body {
    display: flex;
    flex-direction: row; 
    background-color: #11171e;
    color: white;
    min-height: 100vh;
}

.container {
    flex-grow: 1; 
    overflow-y: auto;
}

/* Stopka */
footer {
    background-color: transparent; 
    color: #fff;
    padding: 10px 0; 
    width: calc(100% - 250px); 
    position: fixed;
    bottom: 0;
    left: 250px;
    text-align: center;
}

/* Nawigacja */
.custom-navbar {
    background-color: #1e252b;
    color: white;
    border-bottom: 1px solid #333;
}

/* Styl œrodkowania elementów */
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Dodatkowe stylowanie paska bocznego i treœci */
.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

/* Ustawienie elementu "zalogowany jako" na dole paska bocznego */
.mt-auto {
    margin-top: auto;
}
